<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http:www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<include file="Common:cssjs" />
</head>
<body>
<div class="subnav">
  <div class="content-menu ib-a blue line-x"> 
  <if condition="$appinfo.action eq 'purview'">
  <a href='javascript:;' class="on"><em>管理项目</em></a><span>|</span>
  <else />
  <a href='{:U("Rbac/purview")}' ><em>管理项目</em></a><span>|</span>
  </if>
  <if condition="$appinfo.action eq 'addpur'">
  <a href='javascript:;' class="on"><em>添加项目</em></a>
  <else />
  <a href='{:U("Rbac/addpur")}' ><em>添加项目</em></a>
  </if>
  </div>
</div>
<style type="text/css">
	html{_overflow-y:scroll}
</style>
  <div class="pad_10">
    <div class="table-list">
      <table width="100%" cellspacing="0" >
        <thead>
          <tr>
            <th width="30">ID</th>
            <th align="left">项目名称</th>
            <th align="left" width="240">文件对应页面</th>
            <th align='center' width="60">状态</th>
            <th width="80">管理操作</th>
          </tr>
        </thead>
        <tbody>
        <volist name="data" id="vo">
          <tr id='node-1' >
	       <td align='center'>{$vo.id}</td>
	       <td >{$vo.title}&nbsp;&nbsp;<font color="#CCCCCC">说明：{$vo.remark}</font></td>
           <td >?g={$vo.name}</td>
	       <td align='center'><if condition="$vo['status'] eq 0 ">关闭<else />开启</if></td>
	       <td align='center' width="200"><a href="#">添加</a> | <a href="{:U("Rbac/editpur",array("id"=>$vo["id"]))}">编辑</a> <!--| <a href="{:U("Rbac/purlist",array("id"=>$vo["id"]))}">权限列表</a>--> | <a href="javascript:confirmurl('{:U("Rbac/delpur",array("id"=>$vo["id"]))}','确认要删除吗？')">删除</a></td>
         </tr id='node-30'  class="child-of-node-1">
         <volist name="vo[child]" id="child">
          <tr>
	       <td align='center'>{$child.id}</td>
	       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├─ {$child.title}&nbsp;&nbsp;<font color="#CCCCCC">说明：{$child.remark}</font></td>
           <td >?g={$vo.name}&m={$child.name}</td>
	       <td align='center'><if condition="$child['status'] eq 0 ">关闭<else />开启</if></td>
	       <td align='center' width="200"><a href="#">添加</a> | <a href="{:U("Rbac/editpur",array("id"=>$child["id"]))}">编辑</a> | <a href="javascript:confirmurl('{:U("Rbac/delpur",array("id"=>$child["id"]))}','确认要删除吗？')">删除</a></td>
         </tr>
        
         <volist name="child[child]" id="child1">
          <tr id='node-64'  class="child-of-node-30">

	       <td align='center'>{$child1.id}</td>
	       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;│ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├─  {$child1.title}&nbsp;&nbsp;<font color="#CCCCCC">说明：{$child1.remark}</font></td>
           <td >?g={$vo.name}&m={$child.name}&a={$child1.name}</td>
	       <td align='center'><if condition="$child1['status'] eq 0 ">关闭<else />开启</if></td>
	       <td align='center' width="200"><font color="#999999">添加</font> | <a href="{:U("Rbac/editpur",array("id"=>$child["id"]))}">编辑</a> | <a href="javascript:confirmurl('{:U("Rbac/delpur",array("id"=>$child["id"]))}','确认要删除吗？')">删除</a></td>
         </tr>
         </volist>
         </volist>
         </volist>
        </tbody>
      </table>
      <div class="btn">
        
      </div>
    </div>
  </div>
  </div>

<script language="JavaScript">
<!--
	window.top.$('#display_center_id').css('display','none');
-->
</script>
</body>
</html>