<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>角色管理</title>
  <meta name="keywords" content="角色管理">
  <meta name="description" content="角色管理">
  <include file="Common:Tablecss" />
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>角色管理</h5>
          <div class="ibox-tools">
            <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="{:U('Rbac/roleadd')}">添加角色</a>
              </li>
              </li>
            </ul>
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <form name="myform" action="{:U("Rbac/listorders")}" method="post">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>排序</th>
                <th>ID</th>
                <th>角色名称</th>
                <th>角色描述</th>
                <th>状态</th>
                <th>管理操作</th>
              </tr>
              </thead>
              <tbody>
              <foreach name="data" item="vo">
                <tr>
                  <td><input name='listorders[{$vo.id}]' type='text' size='3' value='{$vo.listorder}' class="form-control input-sm input-listorder"></td>
                  <td>{$vo.id}</td>
                  <td>{$vo.name}</td>
                  <td>{$vo.remark}</td>
                  <td>
                    <if condition="$vo['status'] eq 1">
                      <font color="red">√</font>
                      <else />
                      <font color="red">╳</font>
                    </if>
                  </td>
                  <td>
                    <if condition="$vo['id'] eq 1">
                      <font color="#cccccc">权限设置</font> | <a href="{:U('Management/manager',array('role_id'=>$vo['id']))}">成员管理</a> | <font color="#cccccc">修改</font> | <font color="#cccccc">删除</font>
                      <else />
                      <a href="{:U("Rbac/authorize",array("id"=>$vo["id"]))}">权限设置</a> | <a href="{:U('Management/manager',array('role_id'=>$vo['id']))}">成员管理</a> | <a href="{:U('Rbac/roleedit',array('id'=>$vo['id']))}">修改</a> | <a href="{:U('Rbac/roledelete',array('id'=>$vo['id']))}" onclick="Delete(this);return false;">删除</a>
                    </if>
                  </td>
                </tr>
              </foreach>
              </tbody>
            </table>
            <div class="form-actions">
              <input type="submit" class="btn btn-primary J_ajax_submit_btn" name="dosubmit" value="排序" />
            </div>
          </div>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>
<include file="Common:Tablejs" />
</body>
</html>
<script type="text/javascript">
  var Delete = function(t){
    if(confirm('是否确定删除?')) location.href=t;
  }
</script>