<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <include file="Common:head"/>
</head>
<body>
<div id="wrapper">
    <include file="Common:header"/>
    <div id="page_main" class="clearfix">
        <div class="page-right">
            <h3 class="site-title">客户留言</h3>
            <div class="site-nav"><span>当前位置 : </span><a href="/">公司主页</a> &gt;&gt; <a href="/message"
                                                                                       title="客户留言">客户留言</a>
            </div>
            <div class="page-guestbook">
                <script type="text/javascript">
                    function check() {
                        if (document.guestbook.Guest_Name.value == "") {
                            alert("请填写联系人");
                            document.guestbook.Guest_Name.focus();
                            return false
                        }
                        if (document.guestbook.Guest_TEL.value == "") {
                            alert("请填写电话");
                            document.guestbook.Guest_Email.focus();
                            return false
                        }
                        if (document.guestbook.Content.value == "") {
                            alert("请填写反馈内容");
                            document.guestbook.Content.focus();
                            return false
                        }
                        if (document.guestbook.checkcode.value == "") {
                            alert("请填写验证码");
                            document.guestbook.checkcode.focus();
                            return false
                        }
                        if (document.guestbook.checkcode.value.length < 4) {
                            alert("验证码必须为4位");
                            document.guestbook.checkcode.focus();
                            return false;
                        }
                        //var re = /^[0-9]+.?[0-9]*$/;//判断字符串是否为数字
                        var re = /^[1-9]+[0-9]*]*$/;//判断字符串是否为正整数
                        if (!re.test(document.guestbook.checkcode.value)) {
                            alert("验证码必须是数字");
                            document.guestbook.checkcode.focus();
                            return false;
                        }
                        return true;
                    }
                </script>
                <form action="/message" method="post" name="guestbook" id="guestbook" onSubmit="return check()">
                    <dl class="clearfix">
                        <dt>联系人：</dt>
                        <dd><input name="Guest_Name" type="text" id="Guest_Name"/><span>*</span></dd>
                        <dt>电话：</dt>
                        <dd><input name="Guest_TEL" type="text" id="Guest_TEL"/><span>*</span></dd>
                        <dt>公司名称：</dt>
                        <dd><input name="Company" type="text" id="Company"/><span>*</span></dd>
                        <dt>邮件地址：</dt>
                        <dd><input name="Guest_Email" type="text" id="Guest_Email"/></dd>
                        <dt>传真：</dt>
                        <dd><input name="Guest_FAX" type="text" id="Guest_FAX"/></dd>
                        <dt>地址：</dt>
                        <dd><input name="Guest_ADD" type="text" id="Guest_ADD"/></dd>
                        <dt>邮编：</dt>
                        <dd><input name="Guest_ZIP" type="text" id="Guest_ZIP"/></dd>
                        <dt>留言内容：</dt>
                        <dd><textarea name="Content" cols="" rows="" class="Content" id="Content"></textarea></dd>
                        <dt>验证码：</dt>
                        <dd><input name="checkcode" type="text" id="checkcode" maxlength="4" autocomplete="off"/>
                            <img title="点击刷新" src="/api.php" align="absbottom"
                                 onclick="this.src='/api.php?'+Math.random();" style="height:28px; cursor: pointer;">
                            <span>*</span></dd>
                    </dl>
                    <p><br/>
                        <br/>
                        <input name="submit" type="submit" id="submit" value="提交信息"/></p>
                </form>
            </div>
        </div>
        <include file="Common:aside"/>
    </div>
    <include file="Common:footer"/>
</div>
</body>
</html>