<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <include file="Common:head"/>
</head>
<body>
<div id="wrapper">
    <include file="Common:header"/>
    <div id="page_main" class="clearfix">
        <div class="page-right">
            <div class="site-nav"><span>当前位置 : </span><a href="index.html">公司主页</a> &gt;&gt; <a href="guestbook.html"
                                                                                                title="留言反馈">留言反馈</a>
            </div>
            <div class="page-guestbook">
                <script type="text/javascript">
                    function check() {
                        if (document.guestbook.Guest_Name.value == "") {
                            alert("请填写您的姓名");
                            document.guestbook.Guest_Name.focus();
                            return false
                        }
                        if (document.guestbook.Guest_Email.value == "") {
                            alert("请填写邮件地址");
                            document.guestbook.Guest_Email.focus();
                            return false
                        }
                        if (document.guestbook.Content.value == "") {
                            alert("请填写反馈内容");
                            document.guestbook.Content.focus();
                            return false
                        }
                        if (document.guestbook.checkcode.value == "") {
                            alert("请填写验证码");
                            document.guestbook.checkcode.focus();
                            return false
                        }
                        if (document.guestbook.checkcode.value.length < 4) {
                            alert("验证码必须为4位");
                            document.guestbook.checkcode.focus();
                            return false;
                        }
                        //var re = /^[0-9]+.?[0-9]*$/;//判断字符串是否为数字
                        var re = /^[1-9]+[0-9]*]*$/;//判断字符串是否为正整数
                        if (!re.test(document.guestbook.checkcode.value)) {
                            alert("验证码必须是数字");
                            document.guestbook.checkcode.focus();
                            return false;
                        }

                        return true;
                    }
                </script>
                <form method="post" name="guestbook" id="guestbook" onSubmit="return check()">
                    <dl class="clearfix">
                        <dt>您的姓名：</dt>
                        <dd><input name="Guest_Name" type="text" id="Guest_Name"/><span>*</span></dd>
                        <dt>邮件地址：</dt>
                        <dd><input name="Guest_Email" type="text" id="Guest_Email"/><span>*</span></dd>
                        <dt>电话：</dt>
                        <dd><input name="Guest_TEL" type="text" id="Guest_TEL"/></dd>
                        <dt>传真：</dt>
                        <dd><input name="Guest_FAX" type="text" id="Guest_FAX"/></dd>
                        <dt>地址：</dt>
                        <dd><input name="Guest_ADD" type="text" id="Guest_ADD"/></dd>
                        <dt>邮编：</dt>
                        <dd><input name="Guest_ZIP" type="text" id="Guest_ZIP"/></dd>
                        <dt>留言内容：</dt>
                        <dd><textarea name="Content" cols="" rows="" class="Content" id="Content"></textarea></dd>
                        <dt>验证码：</dt>
                        <dd><input name="checkcode" type="text" id="checkcode" maxlength="4" autocomplete="off"/><img
                                src="images/getnum.gif" alt="点击刷新" align="absmiddle"
                                style="cursor:pointer;"/><span>*</span></dd>
                    </dl>
                    <p><input name="submit" type="submit" id="submit" value="提交信息"/></p>
                </form>
            </div>
        </div>
        <include file="Common:aside"/>
    </div>
    <include file="Common:footer"/>
</div>
</body>
</html>