<!doctype html>
<html>
<head>
    <include file="Common:Formcss"/>
    <link href="/statics/Hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加职员</h5>
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="{:U('Members/index')}">返回职员管理</a>
                            </li>
                            </li>
                        </ul>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div style="display: block;" class="ibox-content">
                    <form novalidate="novalidate" class="form-horizontal m-t" id="myform" action="" method="post">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10  control">
                                <input type="text" name="member_name" class="form-control" id="member_name"
                                       value="{$detail.member_name}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">职位</label>
                            <div class="col-sm-10 ">
                                <select class="form-control m-b" name="job_position">
                                    <foreach name="positions" item="vo">
                                        <option value="{$vo.dvalue}"
                                        <if condition="$detail.job_position eq $vo['dvalue']">selected</if>
                                        >{$vo.dname}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">所属团队</label>
                            <div class="col-sm-10 ">
                                <select class="form-control m-b" name="teamid">
                                    <foreach name="teams" item="vo">
                                        <option value="{$vo.id}"
                                        <if condition="$detail.teamid eq $vo[id]">selected</if>
                                        >{$vo.team_name}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-10  control">
                                <div class="iradio_square-green"
                                     style="position: relative;margin-top: 5px;margin-left: 20px;" id="sex_yes">
                                    <input type="radio" style="position: absolute; opacity: 0;">
                                    <ins class="iCheck-helper"
                                         style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                </div>
                                <i></i>男
                                <div class="iradio_square-green"
                                     style="position: relative;margin-top: 5px;margin-left: 20px;" id="sex_no">
                                    <input type="radio" style="position: absolute; opacity: 0;">
                                    <ins class="iCheck-helper"
                                         style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                </div>
                                <i></i>女
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">联系电话</label>
                            <div class="col-sm-10  control">
                                <input type="text" name="phone" class="form-control" id="phone" value="{$detail.phone}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">工龄</label>
                            <div class="col-sm-10  control">
                                <input type="text" name="jobyear" class="form-control" id="jobyear"
                                       value="{$detail.jobyear}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">个性签名</label>
                            <div class="col-sm-10  control">
                                <input type="text" name="ygxs" class="form-control" id="ygxs" value="{$detail.ygxs}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div id="parterlogo">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">头像</label>
                                <div class="col-sm-8">
                                    <!--用来存放item-->
                                    <div id="fileList" class="uploader-list">
                                        <div class="file-item thumbnail">
                                            <if condition="$detail[headimage]">
                                                    <img src="{$detail.headimage}">
                                            </if>
                                        </div>
                                    </div>
                                    <input type="hidden" name="headimage" id="filepath" value="{$detail.headimage}">
                                    <div id="filePicker">选择图片</div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="id" value="{$detail.id}"/>
                                <input type="hidden" id="status" name="status" value="{$detail.status}"/>
                                <input type="hidden" id="sex" name="sex" value="{$detail.sex}"/>
                                <input name="dosubmit" type="submit" value="提交" class="btn btn-primary" id="dosubmit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Common:Formjs"/>
<link href='/Public/uploader/webuploader.css' rel='stylesheet'>
<script src="/Public/uploader/webuploader.js"></script>
<script src="/statics/Hplus/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<style>
    .thumbnail {
        width: 320px;
        height: 240px;
        background: #F8F8F8;
        border: 1px solid #C1C1C1;
        line-height: 240px;
        text-align: center;
        overflow: hidden;
    }
    .thumbnail img {
        display: block;
        width: 320px;
        height: 230px;
        margin: 0 auto;
    }
</style>
</body>
</html>
<script>
  $.validator.setDefaults({
    highlight: function (element) {
      $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
    },
    success: function (element) {
      element.closest('.form-group').removeClass('has-error').addClass('has-success');
    },
    errorElement: "span",
    errorPlacement: function (error, element) {
      if (element.is(":radio") || element.is(":checkbox")) {
        error.appendTo(element.parent().parent().parent());
      } else {
        error.appendTo(element.parent());
      }
    },
    errorClass: "help-block m-b-none",
    validClass: "help-block m-b-none"
  });

  $(function () {
// validate signup form on keyup and submit
    var icon = "<i class='fa fa-times-circle'></i> ";
    $("#myform").validate({
      rules: {
        member_name: {
          required: true,
          minlength: 1,
          maxlength: 20
        },
        ygxs: {
          required: true,
          minlength: 1,
          maxlength: 150
        }
      },
      messages: {
        member_name: {
          required: icon + "请输入职员姓名",
          minlength: icon + "职员姓名不能为空",
          maxlength: icon + "职员姓名超过长度限制"
        },
        ygxs: {
          required: icon + "请输入员工心声",
          minlength: icon + "员工心声不能为空",
          maxlength: icon + "员工心声不超过50个汉字"
        }
      }
    });

  });

  $(function () {

    var status = $("#status").val();
    if (status == 2) {
      $("#status_no").addClass("checked");
      $("#status_no").find("input[type=radio]").attr("checked", "");
      $("#status").val(2);
    } else {
      $("#status_yes").addClass("checked");
      $("#status_yes").find("input[type=radio]").attr("checked", "");
      $("#status").val(1);
    }

    var sex = $("#sex").val();
    if (sex == 2) {
      $("#sex_no").addClass("checked");
      $("#sex_no").find("input[type=radio]").attr("checked", "");
      $("#sex").val(2);
    } else {
      $("#sex_yes").addClass("checked");
      $("#sex_yes").find("input[type=radio]").attr("checked", "");
      $("#sex").val(1);
    }

    $("#status_yes").click(function () {
      $(this).addClass("checked");
      $(this).find("input[type=radio]").attr("checked", "checked");

      $("#status_no").removeClass("checked");
      $("#status_no").find("input[type=radio]").removeAttr("checked");
      $("#status").val(1);

    });

    $("#status_no").click(function () {
      $(this).addClass("checked");
      $(this).find("input[type=radio]").attr("checked", "checked");

      $("#status_yes").removeClass("checked");
      $("#status_yes").find("input[type=radio]").removeAttr("checked");
      $("#status").val(2);
    });

    $("#sex_yes").click(function () {
      $(this).addClass("checked");
      $(this).find("input[type=radio]").attr("checked", "checked");

      $("#sex_no").removeClass("checked");
      $("#sex_no").find("input[type=radio]").removeAttr("checked");
      $("#sex").val(1);
    });

    $("#sex_no").click(function () {
      $(this).addClass("checked");
      $(this).find("input[type=radio]").attr("checked", "checked");

      $("#sex_yes").removeClass("checked");
      $("#sex_yes").find("input[type=radio]").removeAttr("checked");
      $("#sex").val(2);
    });

  });
  $(function () {
    var myDate = new Date();
    var times = myDate.getHours() + ":" + myDate.getMinutes() + ":" + myDate.getSeconds();
    $('#intime .input-group.date').datepicker({
      format: 'yyyy-mm-dd ',
      todayBtn: "linked",
      keyboardNavigation: false,
      forceParse: false,
      calendarWeeks: true,
      autoclose: true
    });

    var outDate = new Date();
    var times = outDate.getHours() + ":" + outDate.getMinutes() + ":" + outDate.getSeconds();
    $('#outtime .input-group.date').datepicker({
      format: 'yyyy-mm-dd ',
      todayBtn: "linked",
      keyboardNavigation: false,
      forceParse: false,
      calendarWeeks: true,
      autoclose: true
    });

    var uploader = WebUploader.create({
      auto: true,
      // swf文件路径
      swf: '/Public/uploader/Uploader.swf',
      // 文件接收服务端。
      server: '/Admin/Fileuploade/ajax_upload.html',
      // 选择文件的按钮。可选。
      // 内部根据当前运行是创建，可能是input元素，也可能是flash.
      pick: '#filePicker',
      // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
      resize: false,
      multiple: false,
      duplicate: true,
      // 只允许选择图片文件。
      accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/*'
      }
    });
    uploader.on('uploadSuccess', function (file, data) {
      var $li = $(
          '<div class="file-item thumbnail">' +
          '<img src="' + data.src + '">' +
          '</div>'
      )
      $("#fileList").html($li);
      $("#filepath").val(data.src);
    });
    uploader.on('uploadError', function (file) {
      alert('上传出错');
    });
  });


</script>
