body{
     color:#333;
	font-family:Microsoft YaHei;
	font-size:12px;
	font-weight:normal;
}
.main-block{
    position: relative;
}	

#search-item{ display:none}
.ui-row{    padding: 5px 20px; }
.gmain{ height:40px; width:100%; float:left;border-bottom:1px solid #ccc}

/*搜索*/
.top_search_form{ padding:12px; float:left; width:100%; position:relative; padding-right:60px;}
.search_input{     
	width: 90%;
    border: 0px;
    line-height: 36px;
    border-radius: 20px;
    float: left;
    font-size: 12px;
    padding-left: 15px;
        margin: 13px 9px;
}
.top_search_form p.search_ico{    
	padding: 0px;
    margin: 0px;
    width: 36px;
    height: 36px;
    position: relative;
    left: 87%;
    top: 1em;
    background: url(../images/sousuo_ico.png) no-repeat left center;
    background-size: 20px 20px;
    z-index: 999;}
.top_search_form p.search_more_ico{padding:0px; margin:0px; width:36px; height:36px; position:absolute; right:30px; top:24px; background:url(../images/sousuo_more_ico.png) no-repeat center center; background-size:20px 20px; z-index:999; display:block;}

.cinput{    
    width: 100%;
    padding: 8px 0;
    background: #F8F8F8;
    font-size: 12px;
    text-indent: 10px;
    border: 0;
}
.cancel_btn{ height:30px; line-height:30px;color:#01A0F4;text-align:right;}
.sptitle{ height:30px; line-height:30px;}
.search_form_select{ height:30px; line-height:30px;border:0px solid #efefef;border-radius:0px;-webkit-border-radius:0px;-moz-border-radius:0px; -webkit-appearance: none;-moz-appearance: none;appearance: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding:0px;box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0); text-align:left;  background:url(../images/right4.png) no-repeat right center; background-size:30px 30px;color:#999; width:100%;}
.search_li_span3{ width:50px; line-height:50px; float:left; width:100%; position:relative; margin-bottom:5px; display:block; position:relative;}
.search_li_span3 a{     
	width: 100px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    left: 32%;
    top: 5px;
    border: 1px solid #01A0F4;
    color: #01A0F4;
    border-radius: 20px;
    text-align: center;
	    font-size: 1.2em;
}
.wx_loading {height:100%; width:100%;background: url("/statics/web/images/wx_loading.gif") center center no-repeat;text-align: center;background-size: 20px 20px; position:fixed; left:0px;; top:0px; display:none; background-color:#000; z-index:99999;filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5; display: none}

/**/

.ntitle{font-size: 1.2em;}
.tr{  line-height:180%;}
.date {
  color: #666;
  font-size: 1.2em;
}
.prices {
  color: #F00;
  font-size: 1.2em;
}
.prices dfn {
  color: #ff7800;
 
}
.prices strong {
  color: #ff7800;
  font-family: Arial;
  font-size: 1.4em;
  padding-right: 3px;
}
.sjprices {
  color: #F00;
  font-size: 1.2em;
}

/*会员中心快速*/
.kuaisu_ico{ width:50px; height:50px; float:left; background:url(../images/user_ico1.png?v=20151) no-repeat left top; background-size:50px 50px; position:fixed; left:10px; bottom:100px; z-index:99;}
.kuaisu_ico_hide{ width:50px; height:50px; float:left; background:url(../images/user_ico2.png?v=20151) no-repeat left top; background-size:50px 50px; position:fixed; left:160px; bottom:100px; display:none;z-index:99;}
.kuaisu_form{ width:160px; float:left; position:fixed; left:0px; height:100%; top:0px; background:#2E3237; z-index:9999999; display:none;}
.kuaisu_form span.user_header_img{ width:60px; height:60px; float:left; background:#fff; margin:50px; display:inline;border-radius:50px;}
.kuaisu_form span.user_header_img img{ width:60px; height:60px; border:1px solid #dfdfdf;border-radius:50px;}
.kuaisu_form span.li_ico{ width:160px; height:50px; line-height:50px; float:left;color:#FFF; position:relative;}
.kuaisu_form span strong{font-weight:400;color:#333;font-size:15px; padding-left:30px; height:50px; line-height:50px;display:block; float:left;}
.kuaisu_form span i{ position:absolute; right:20px; height:50px; width:50px; top:0px;background:url(../images/right4.png?v=2015) no-repeat 10px center;background-size:30px 30px;}
.kuaisu_form span p{ padding:0px; margin:0px; height:50px; line-height:50px; text-align:left; color:#A8B1C0;}

/*show*/
#gohome{position: absolute;top: -2px;bottom: -7px;right: 0; color:#fff}



/*详细页图片轮播*/
.focus2{
	height:200px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	position:relative;
	width:320px;
}
.focus2 .wrappic{
	height:100%;
 	width:100%;
	overflow:hidden;
	position:relative;
}
.focus2 ol{	
	left:0;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	width:9999px;
}
.focus2 ol li{
	float:left;
	height:100%;
	width:100%;
}
.focus2 ol li img{
	height:100%;
	width:100%;
	vertical-align:top;
}
.focus2 ul{
	position:absolute;
	bottom:10px;
	width:100%;
	text-align:center;
	z-index:999;
}
.focus2 ul li{
	background:#59acff;
	border-radius:25px;
	border:solid 2px #fff;
	cursor:pointer;
	display:inline-block;
	font-size:0;
	line-height:0;
	height:12px;
	margin-left:8px;
	overflow:hidden;	
	width:12px;
}
.focus2 ul .current{ background:#ffbf00;}
.departure_date ul .current{background:#ffbf00;}
.tour_detail {
  padding: 0 0 80px;
}
.tour_detail .hd {
    font-size: 1.8em;
    padding-left: 10px;
}
.tour_detail .hd .inner {
  border-bottom: solid 1px #d9d9d9;
  padding-bottom: 8px;
}
.integral_profit {
  padding: 10px;
}
.integral_profit p {
    color: #ff6a00;
    font-size: 1.3em;
    line-height: 180%;
}
 .base_info {
  background: #fff;
  border-top: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
  margin: 0 auto;
  padding: 12px 10px 0;
  margin-bottom: 15px;
}
.tour_detail strong{ font-weight:normal}
 .base_info p {
  color: #999;
  font-family: Microsoft YaHei;
  font-size: 1.4em;
  padding-bottom: 8px;
  overflow: hidden;
}
.base_info p label{
	display:block;
	float:left;
	width:85px;
	text-align:right;	
}


/*清除浮动*/
.clearfix:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden;}
.clearfix{ display: inline-table;}
* html .clearfix{ height: 1%;}
.clearfix{ display: block;}
.departure_date{  background: #fff;  color: #666;   font-size: 1.2em;  }
.departure_date p{ background:url(/images/wap/mode/mode7/icon_dateright.png) no-repeat right center; border-bottom:1px solid #d9d9d9; font-size:1.2em; height:50px; line-height:50px;}
.departure_date ul{ padding:0.3em 0;}
.departure_date ul li{ box-sizing:border-box; float:left; padding:0.7em 0.25em 0 0.25em; -webkit-box-sizing:border-box; width:25%;}
.departure_date ul li dl{ background:#f5f5f5; border:solid 1px #b3b3b3; border-radius: 0.2em; color:#838383; display:-webkit-box; display:box; line-height:18px; padding:0.3em 0; text-align:center;}
.departure_date ul li dl dt{ border-right:1px solid #b3b3b3; box-flex:1; -webkit-box-flex:1;}
.departure_date ul li dl dd{ color:#ff9000; width:30%;}
.departure_date ul li dl span{ display:block; font-size:0.8em;}
.departure_date ul li dl .date{ color:#333; font-size:0.9em;}
.departure_date ul li dl .num{ padding-top:0.3em;}
.departure_date ul li.current dl{ background:#ff9000; border:solid 1px #ff9000;}
.departure_date ul li.current dl dt{ border-right:1px solid #fff;}
.departure_date ul li.current dl span{ color:#fff;}
.departure_date ul li.current dl .date{ font-weight:bold;}
.departure_date ul li .more{ background:#f5f5f5; border:solid 1px #b3b3b3; border-radius: 0.2em; color:#838383; padding:0.3em 0; text-align:center;}
.departure_date ul li .more span{ display:block; line-height:18px; width:100%;}
.departure_date ul li .more span:last-child{ padding-top:0.3em;}


.ui-border-t .icon1 {
	float: left; height: 35px; width: 40px;background: url(/statics/web/images/icon_detail.png) no-repeat center -60px;
}
#txtcontent{ padding-top:10px; font-size: 1.4em;}
/*登录分享*/
.main_job_apply{ width:100%; height:50px; float:left; background:#fff; position:fixed; left:0px; bottom:0px; display:block;}
.main_job_apply span.button_left_left{ width:20%; float:left; height:50px; background:url(../images/fenxiang.png) no-repeat center center; background-size:100% auto; background-color:#fff;}

.main_job_apply span.button_left{ width:50%; float:left; height:50px;}
.main_job_apply span.button_left a{ width:100%; height:50px;line-height:50px; text-align:center; float:left; color:#fff; font-size:16px; background:#E65E46;}
.main_job_apply span.button_right{ width:50%; float:right; height:50px;}
.main_job_apply span.button_right a{ width:100%; height:50px;text-align:center;line-height:50px; float:left; color:#fff; font-size:16px; background:#ff6a00;}

.wx_overlay{position:fixed;left:0;top:0;z-index:999;width:100%; height:100%; background:url(../images/shadow.png); z-index:9999; display:none}
.wxlogin_box{ width:300px; position:fixed; z-index:9999; background:#F7F3F4; height:244px; padding:15px; left:50%; top:50%; margin-top:-122px; margin-left:-150px; padding-top:10px; padding-top:30px;}
.wxlogin_box span{  float:left; width:100%; }
.wx_l_input{width:100%; background:#F7F3F4;border-radius:0.2rem; text-indent:8px; color:#333; height:40px; line-height:40px; padding-left:5px; margin-top:10px; border:1px solid #CECACB; box-shadow:none; outline:none;}

a.wx_l_btn{height:40px;line-height:40px;background:#01A0F4;;border-radius:0px;color:#fff;font-size:17px;width:100%;display:block;text-align:center;text-decoration:none; float:left; margin-top:10px;}
a.wx_r_btn{height:40px;line-height:40px;background:#01A0F4;;border-radius:0px;color:#fff;font-size:17px;width:100%;display:block;text-align:center;text-decoration:none; float:left; margin-top:10px;}

a.wx_close{ width:15px; height:15px; position:absolute; right:8px; top:8px;background:url(../images/close.png?v=2015121) no-repeat left top; background-size:15px 15px;}
.overlay{position:fixed;left:0;top:0;z-index:99990;width:100%; height:100%; background:url(../images/shadow.png);}
.pop_box{position:fixed;width:300px;height:150px;left:50%; top:50%; margin-top:-75px;margin-left:-150px;background:#FAFAFA;border-radius:5px;}
.pop_box p i{display:block;width:300px;height:50px;background:url(../images/icon_erro.png) no-repeat center;background-size:40px;margin:auto;margin-top:20px;}
.pop_box p i.isuccess{background:url(../images/icon_success.png) no-repeat center;background-size:40px;}
.pop_box p span{color:#333;text-align:center;font-size:15px;display:block; width:240px; line-height:30px; margin-top:10px; margin-left:30px;}
/*订单*/
.calendar{ width:100%;}
.calymd{ height:100px; position: relative;}
.calymd h3{font-size:1.8em;height:45px;line-height:45px; display:block;text-align:center; font-weight: normal; height:45px;margin-left:-95px;position:absolute;left:50%; top:46px;width:190px;}
.calendar .sheet{ padding-bottom:0; width:100%;}
.calendar .sheet th{background:#e6e6e6;border-top:solid 1px #d9d9d9;border-bottom:solid 1px #d9d9d9;border-right:1px solid #d9d9d9;color:#808080;font-size:1.4em;height:30px;width:14.2%;line-height:30px;text-align:center;}
.calendar .sheet th:last-child{ border-right:none;}
.calendar .sheet td{background:#f5f5f5;border-bottom:solid 1px #d9d9d9;border-right:1px solid #d9d9d9;border-left:none;border-top:none;color:#b2b2b2;font-family:Arial;font-size:1.6em;font-weight:bold;line-height:normal;text-align:center;	
height:60px;vertical-align:middle;}
.calendar .sheet .today{background:#ebfaff;color:#ff6a00;font-family:Microsoft YaHei;font-size:1.4em;font-weight:normal;}
.calendar .sheet td .price{color:#f60;font-weight:normal;position:relative;text-align:center;margin-top:0;white-space:nowrap;}
.calendar .sheet td .price strong{ font-size:0.8em; display:block;}
.calendar .sheet td .price strong dfn{ font-size:0.8em;}
.calendar .sheet td .price span{color:#00ace6;display:block;font-family:Microsoft YaHei;font-size:0.8em;}
.calendar .sheet td .price span dfn{font-family:Arial;font-size:1.1em;margin-left:2px;}
.calendar .sheet .remaining{background:#fff;color:#666;}
.calendar .timeleft{background:url(../images/icon_timeleft.png) no-repeat center;  cursor:pointer;height:45px;margin-right:100px;position:absolute;right:50%;top:46px;width:15px;}
.calendar .timeright{background:url(../images/icon_timeright.png) no-repeat center;cursor:pointer;height:45px;margin-left:100px;position:absolute;left:50%;top:46px;width:15px;}

/*选择出发班期和类型*/
.genre_sort{ margin-bottom:60px;}
.genre_sort .title{color:#8c8c8c;font-size:1.4em;text-align:right;padding:10px;}
.genre_sort .inner{background:#fff;padding:0 10px;}
.genre_sort .inner .item{border-bottom:dotted 1px #bfbfbf;padding:10px 0;}
.genre_sort .inner .item:last-child{ border-bottom:none;}
.genre_sort .inner .item .name{color:#ff6a00;font-size:1.6em;font-family:Arial;padding:0 0 10px;}
.genre_sort .inner .item .price{color:#737373;font-size:1.4em;font-family:Arial;padding-left:15px;}
.genre_sort .inner .hd{ padding-top:15px;}
.genre_sort .inner .hd ul{ border-radius:3px; background:#f0f0f0; height:35px; line-height:35px; overflow:hidden;}
.genre_sort .inner .hd ul li{ color:#4c4c4c; float:left; width:50%; font-size:1.4em; font-family:Microsoft YaHei; overflow:hidden;}
.genre_sort .inner .hd ul li .type{ float:left; padding-left:50px;} 
.genre_sort .inner .hd ul li .price{ float:right; padding-right:50px;}
.genre_sort .inner .bd ol{ overflow:hidden;}
.genre_sort .inner .bd ol li{ border-bottom:dotted 1px #bfbfbf; padding:10px 20px; overflow:hidden;}
.genre_sort .inner .bd ol li span{ color:#ff7f00; width:60%; text-align:left; float:left; font-size:1.4em; font-family:Microsoft YaHei;}
.genre_sort .inner .bd ol li em{ color:#4c4c4c; width:40%; text-align:right; float:left; font-size:1.4em; font-family:Microsoft YaHei;}
.genre_sort .inner .bd ol li:last-child{ border-bottom:none;}
.calendar .sheet .current{ background:#f90; color:#fff;}
.calendar .sheet .current .price span{color:#fff;}

.total {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 99999;
}
.total .inner {
  line-height: 50px;
  height: 50px;
}
.total .call {
  background: #fff;
  border-top: 1px solid #d9d9d9;
  float: left;
  font-size: 2em;
  text-align: center;
  width: 50%;
  height: 49px;
}
.total .call strong {
  background: url(../images/icon_tel2.png) no-repeat left 15px;
  color: #f60;
  display: inline-block;
  margin-right: 5px;
  padding-left: 30px;
}



/*会员中心*/
.member_info{width:100%;height:110px; background:url(../images/member_bg.png) repeat-x left top; background-size:100% auto;}
.member_info_content{padding:15px 20px 15px 20px}
.member_info_content .pic{float:left; }
.member_info_content .pic img{    width: 80px;  height: 80px; border-radius: 40px;}
.index_headimg{border-radius:40px; }

.member_info_content .item-info{margin-left:90px;position:relative;padding-left:10px;}
.member_info_content .item-info h2{font-size:15px;padding:0;margin:0;color:#fff;margin-top:5px}
.member_info_content .item-info h2 em{font-style:normal;color:#ffe202;padding-left:10px}
.member_info_content .item-info h3{padding:0;margin:0;font-size:12px;margin-top:5px;color:#fff;}
.member_info_content .item-info .icon{vertical-align:text-top;margin-right:10px;}
.member_info_content .item-info p{position:absolute;width:14px;height:24px;background:url(../images/icon_right8.png) no-repeat;background-size:14px 24px;right:0;top:50%;margin-top:-12px}

.my_menu{margin-top:4px;background:#fff; border-top:1px solid #E5E5E4; border-bottom:1px solid #E5E5E4;}
.my_menu ul{padding:0;margin:0;}
.my_menu ul li{margin:0;padding:0;list-style:none;height:50px;}
.my_menu ul li p{    padding-left: 16px;border-bottom:1px solid #f0eff5;line-height:50px;position:relative}
.my_menu ul li:last-child p{border-bottom:none;}
.my_menu ul li a{text-decoration:none}
.my_menu ul li p strong{font-weight:400;color:#333;font-size:15px; padding-left:45px; height:50px; line-height:50px;display:block;}
.my_menu ul li p strong.my_mianshi_ico{ background:url(../images/ico/1.png) no-repeat 5px center; background-size:30px 30px;}
.my_menu ul li p strong.my_jianli_ico{ background:url(../images/ico/2.png) no-repeat 5px center; background-size:30px 30px;}
.my_menu ul li p strong.my_tuiguang_ico{ background:url(../images/ico/3.png) no-repeat 5px center; background-size:30px 30px;}
.my_menu ul li p strong.my_yongjin_ico{ background:url(../images/ico/4.png) no-repeat 5px center; background-size:30px 30px;}
.my_menu ul li p strong.my_mima_ico{ background:url(../images/ico/5.png) no-repeat 5px center; background-size:30px 30px;}
.my_menu ul li p strong.my_shoucang_ico{ background:url(../images/ico/7.png) no-repeat 5px center; background-size:30px 30px;}

.my_menu ul li p span{display:block;width:10px;height:18px;background:url(../images/icon_right3.png) no-repeat;background-size:10px 18px;position:absolute;right:20px;top:50%;margin-top:-9px;}
