body{
  -webkit-user-select:initial;
  background-color: #F4F4F4;
    font-family: "微软雅黑";
}
.main-item{ margin-bottom:10px;}
.main-block{
    position: relative;
}

/*搜索*/
.top_search_form{ padding:12px; float:left; width:100%; position:relative; padding-right:60px;}
.search_input{ width:100%; height:36px; border:0px; line-height:36px; float:left;border-radius:18px; background:#fff; font-size:12px; padding-left:15px; margin-right:40px;}
.top_search_form p.search_ico{padding:0px; margin:0px; width:36px; height:36px; position:absolute; right:60px; top:12px; background:url(../images/sousuo_ico.png) no-repeat left center; background-size:20px 20px; z-index:999;}
.top_search_form p.search_more_ico{padding:0px; margin:0px; width:36px; height:36px; position:absolute; right:10px; top:12px; background:url(../images/sousuo_more_ico.png) no-repeat center center; background-size:20px 20px; z-index:999; display:block;}

.search_form_overlay{position:fixed;left:0;top:0;z-index:95;width:100%; height:100%; background:#fff; display:none;}
.search_form_layout{ padding:20px; float:left; width:100%;}
.search_form_layout h3{ padding:0px; margin:0px; height:30px; line-height:30px; width:100%; float:left; font-size:14px; margin-bottom:10px; font-weight:bold; color:#999;}

.search_form_layout span.search_li_span{ width:40px; line-height:40px; float:left; border-bottom:1px solid #E8F0F8; width:100%; position:relative; margin-bottom:5px; padding-left:60px; display:block;}
.search_form_layout span.search_li_span strong{ width:60px; height:40px; line-height:40px; float:left; position:absolute; left:0px; top:0px;}

.search_form_layout span.search_li_span2{ width:40px; line-height:40px; float:left; width:100%; position:relative; margin-bottom:5px; display:block; padding-right:50px; position:relative; margin-left:-10px; margin-right:-10px;}
.search_input2{ width:100%; height:36px; border:0px; line-height:36px; float:left;border-radius:18px; background:#F1F5F8; font-size:12px; padding-left:15px; }
.search_form_layout span.search_li_span2 p.cancel_btn{ width:40px; height:36px; line-height:36px; position:absolute; right:0px; top:0px; color:#01A0F4;text-align:center;}

.search_form_select{ height:40px; line-height:40px;border:0px solid #efefef;border-radius:0px;-webkit-border-radius:0px;-moz-border-radius:0px; -webkit-appearance: none;-moz-appearance: none;appearance: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding:0px;box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0); text-align:left; line-height:40px; background:url(../images/right4.png) no-repeat right center; background-size:30px 30px;background-color:#fff;color:#999; width:100%;}

.search_form_layout span.search_li_span3{ width:50px; line-height:50px; float:left; width:100%; position:relative; margin-bottom:5px; display:block; position:relative;}
.search_form_layout span.search_li_span3 a{ width:100px; height:40px; line-height:40px; position:absolute; left:50%; margin-left:-50px; top:10px; border:1px solid #01A0F4; color:#01A0F4;border-radius:20px; text-align:center;}
.navbar{ z-index:9;}

/**/

