<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Common:head"/>
</head>
<body>
<div id="wrapper">
    <include file="Common:header"/>
    <div id="page_main" class="clearfix">
        <div class="page-right">
            <div class="site-nav">
                <h3 class="site-title">生产设备</h3>
                <span>当前位置 : </span><a href="/">公司主页</a> &gt;&gt; <a href="javascript:void(0)" title="生产设备">生产设备</a>
            </div>
            <div class="page-single">
            {$detail.content}
            </div>
        </div>
        <include file="Common:aside"/>
    </div>
    <include file="Common:footer"/>
</div>
</body>
</html>
