<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Common:head"/>
</head>
<body>
<div id="wrapper">
    <include file="Common:header"/>
    <div id="page_main" class="clearfix">
        <div class="page-right">
            <div class="site-nav"><span>当前位置 : </span><a href="index.html">公司主页</a> &gt;&gt; <a href="products.html"
                                                                                                title="产品展示">产品展示</a>
            </div>
            <div class="page-products">
                <ul class="clearfix">

                    <li><a href="products.html" title="覆盆子酮"><img
                            src="/statics/home/Default/uploadfile/20110611023489748974.jpg" width="210" height="150"
                            alt="覆盆子酮"/><span>覆盆子酮</span></a></li>

                    <li><a href="products.html" title="氯霉素"><img
                            src="/statics/home/Default/uploadfile/20110611023092419241.jpg" width="210" height="150"
                            alt="氯霉素"/><span>氯霉素</span></a></li>

                    <li><a href="products.html" title="利巴韦林(病毒唑）"><img
                            src="/statics/home/Default/uploadfile/20110611022328652865.jpg" width="210" height="150"
                            alt="利巴韦林(病毒唑）"/><span>利巴韦林(病毒唑）</span></a></li>

                    <li><a href="products.html" title="土霉素"><img
                            src="/statics/home/Default/uploadfile/20110611021745864586.jpg" width="210" height="150"
                            alt="土霉素"/><span>土霉素</span></a></li>

                    <li><a href="products.html" title="盐酸特比奈芬"><img
                            src="/statics/home/Default/uploadfile/20110611014993929392.jpg" width="210" height="150"
                            alt="盐酸特比奈芬"/><span>盐酸特比奈芬</span></a></li>

                    <li><a href="products.html" title="氯化钾"><img
                            src="/statics/home/Default/uploadfile/20110611032733583358.jpg" width="210" height="150"
                            alt="氯化钾"/><span>氯化钾</span></a></li>

                    <li><a href="products.html" title="磷酸二氢钾"><img
                            src="/statics/home/Default/uploadfile/20110611032516391639.jpg" width="210" height="150"
                            alt="磷酸二氢钾"/><span>磷酸二氢钾</span></a></li>

                    <li><a href="products.html" title="微晶纤维素"><img
                            src="/statics/home/Default/uploadfile/20110611032067186718.jpg" width="210" height="150"
                            alt="微晶纤维素"/><span>微晶纤维素</span></a></li>

                    <li><a href="products.html" title="氢化铝锂"><img
                            src="/statics/home/Default/uploadfile/2011061103180984984.jpg" width="210" height="150"
                            alt="氢化铝锂"/><span>氢化铝锂</span></a></li>

                    <li><a href="products.html" title="淀粉酶"><img
                            src="/statics/home/Default/uploadfile/2011061103170236236.jpg" width="210" height="150"
                            alt="淀粉酶"/><span>淀粉酶</span></a></li>

                    <li><a href="products.html" title="抗氧剂BHT"><img
                            src="/statics/home/Default/uploadfile/20110611031576567656.jpg" width="210" height="150"
                            alt="抗氧剂BHT"/><span>抗氧剂BHT</span></a></li>

                    <li><a href="products.html" title="香兰素"><img
                            src="/statics/home/Default/uploadfile/20110611031134093409.jpg" width="210" height="150"
                            alt="香兰素"/><span>香兰素</span></a></li>

                    <li><a href="products.html" title="丁香罗勒油"><img
                            src="/statics/home/Default/uploadfile/20110611031086798679.jpg" width="210" height="150"
                            alt="丁香罗勒油"/><span>丁香罗勒油</span></a></li>

                    <li><a href="products.html" title="聚乙烯醇"><img
                            src="/statics/home/Default/uploadfile/20110611030589108910.jpg" width="210" height="150"
                            alt="聚乙烯醇"/><span>聚乙烯醇</span></a></li>

                    <li><a href="products.html" title="次磷酸"><img
                            src="/statics/home/Default/uploadfile/20110611025642914291.jpg" width="210" height="150"
                            alt="次磷酸"/><span>次磷酸</span></a></li>

                </ul>
                <div class="page_list">
                    <div class="list_info">共18个/2页 <span class="disabled">&nbsp;&lt;&lt;&nbsp;</span><span
                            class="disabled">&nbsp;&lt;&nbsp;</span><span class="current">1</span><a href="#">2</a><a
                            href="?menuid=2&amp;page=2">&nbsp;&gt;&nbsp;</a><a href="#">&nbsp;&gt;&gt;&nbsp;</a></div>
                </div>
            </div>
        </div>
        <include file="Common:aside"/>
    </div>
    <include file="Common:footer"/>
</div>
</body>
</html>