<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<title>主页</title>
<meta name="keywords" content="">
<meta name="description" content="">
<style>
    #aboutus p{text-indent:26px ;font-size:16px ;line-height:26px}
</style>
<include file="Common:Head" />
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        欢迎
    </div>
</div>
</body>
<script src="js/welcome.js"></script>
</html>
