<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Common:head"/>
</head>
<body>
<div id="wrapper">
    <include file="Common:header"/>
    <div id="index_main" class="clearfix">
        <div class="index-left">
            <div class="index-newproducts">
                <h2><span>暂无信息</span><a href="products.html"><img src="/statics/home/Default/images/more.gif" width="32" height="5" alt="产品展示" /></a></h2>
                <div class="productsroll">
                    <div id="LeftArr1"></div>
                    <div id="RightArr1"></div>
                    <ul id="ScrollBox" class="clearfix">
                        <volist name="tj" id="vo">
                        <li><a target="_blank" href="{:u('/products/detail',array('id'=>$vo['nid']))}" title="{$vo.title}"><img src="{$vo.thumb}" alt="{$vo.title}" width="140" height="100" /><span>{$vo.title|cut_string=###,10}</span></a></li>
                        </volist>
                    </ul>
                    <script language="javascript" type="text/javascript">
                        <!--//--><![CDATA[//><!--
                        var scrollPic_01 = new ScrollPic();
                        scrollPic_01.scrollContId   = "ScrollBox"; //内容容器ID
                        scrollPic_01.arrLeftId      = "LeftArr1";//左箭头ID
                        scrollPic_01.arrRightId     = "RightArr1"; //右箭头ID
                        scrollPic_01.frameWidth     = 648;//显示框宽度
                        scrollPic_01.pageWidth      = 162; //翻页宽度
                        scrollPic_01.speed          = 10; //移动速度(单位毫秒，越小越快)
                        scrollPic_01.space          = 5; //每次移动像素(单位px，越大越快)
                        scrollPic_01.autoPlay       = true; //自动播放
                        scrollPic_01.autoPlayTime   = 3; //自动播放间隔时间(秒)
                        scrollPic_01.initialize(); //初始化
                        //--><!]]>
                    </script>
                </div>
            </div>
            <div class="index-news">
                <h2><span>新闻资讯</span><a href="/news"><img src="/statics/home/Default/images/more.gif" width="32" height="5" alt="新闻资讯"/></a></h2>
                <ul>
                    <li class="clearfix">
                        <a target="_blank" href="{:u('/news/detail',array('id'=>$vo['nid']))}" title="{$news['0']['title']}">
                        <img src="{$news['0'].thumb}" alt="{$news['0']['title']}" width="110" height="80"/>
                        </a>
                        <h3><a target="_blank" href="{:u('/news/detail',array('id'=>$vo['nid']))}" title="{$news['0']['title']}">{$news['0']['title']}</a></h3>
                        <p>{$news['0']['ndesc']|cut_string = ###,50}<a target="_blank" href="{:u('/news/detail',array('id'=>$vo['nid']))}" title="{$news['0']['title']}">[详细]</a>
                    </p></li>
                    <volist name="news" id="vo" offset="1" length='5'>
                    <li><a target="_blank" href="{:u('/news/detail',array('id'=>$vo['nid']))}" title="{$vo.title}"><span>{$vo.edittime|date="Y/m/d",###}</span>-　{$vo.title|cut_string = ###,20}</a></li>
                    </volist>
                </ul>
            </div>
            <div class="index-about">
                <h2><span>关于我们</span><a href="{:u('/abouts')}"><img src="/statics/home/Default/images/more.gif" width="32" height="5" alt="关于我们" /></a></h2>
                <p><img src="{$abouts.thumb}" alt="关于我们" width="145" height="181" /><a href="{:u('/abouts')}" title="关于我们">{$abouts.title|cut_string = ###,210}</a></p>
            </div>
            <div class="index-products">
                <h2><span>产品展示</span><a href="/products"><img src="/statics/home/Default/images/more.gif" width="32" height="5" alt="产品展示"/></a></h2>
                <ul class="clearfix">
                    <volist name="products" id="vo">
                    <li><a target="_blank" href="{:u('/products/detail',array('id'=>$vo['nid']))}" title="{$vo.title}"><img src="{$vo.thumb}" alt="{$vo.title}" width="154" height="110"/><span>{$vo.title| cut_string = ###,10}</span></a></li>
                    </volist>
                </ul>
            </div>
        </div>
        <div class="index-right">
            <include file="Common:aside"/>
        </div>
    </div>
    <include file="Common:footer"/>
</div>
</body>
</html>