<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Common:head"/>
</head>
<body>
<div id="wrapper">
    <include file="Common:header"/>
    <div id="page_main" class="clearfix">
        <div class="page-right">
            <h3 class="site-title">新闻资讯</h3>
            <div class="site-nav"><span>当前位置 : </span><a href="/">公司主页</a> &gt;&gt; <a href="/news" title="新闻资讯">新闻资讯</a>
            </div>
            <div class="page-news">
                <table border="0" align="center">
                    <volist name="list" id = "vo">
                        <tr>
                            <td width="10%" class="time-list"><span>{$vo.edittime|date="Y/m/d",###}</span></td>
                            <td><a target="_blank" href="{:u('/news/detail',array('id'=>$vo['nid']))}" title="{$vo.title}">{$vo.title|cut_string = ###,45}</a></td>
                        </tr>
                    </volist>
                </table>
                <div class="page_list">
                    {$page}
                </div>
            </div>
        </div>
        <include file="Common:aside"/>
    </div>
    <include file="Common:footer"/>
</div>
</body>
</html>