<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Common:head"/>
</head>
<body>
<div id="wrapper">
    <include file="Common:header"/>
    <div id="page_main" class="clearfix">
        <div class="page-right">
            <div class="site-nav"><span>当前位置 : </span><a href="index.html">公司主页</a> &gt;&gt; <a href="single.html"
                                                                                                title="关于我们">关于我们</a>
            </div>
            <div class="page-single">
                <p style="LINE-HEIGHT: 25px"><span class="hps" title="点击可显示其他翻译"></span>　　上海网聚化工有限公司和进出口有限公司是以无机化工、有机化工、精细化工、香精香料、食品添加剂、医药原料及中间体等经营、销售为一体的高科技化工企业。公司位于上海市商业中心,交通十分便捷。<br/>　　我公司华东地区总经销双氧水，品质保证，受到广大客户的一致好评。
                    &nbsp;
                    公司最近几年,外贸部广泛开展国外客户,其中以纯碱,硫化碱,片碱等无机产品出口为主.公司产品广泛用于纺织印染、造纸、玻璃陶瓷、医药、发酵、洗涤、鱼药、食品等行业。为了更好的为广大客户服务，我公司新设有专门的信息部和售后服务部。无论你对产品有任何的疑问，我们都会为您细心解答。<br/>　　公司在华东地区内最先采取门市店铺，亲门走访，网络营销三位结合的模式，多年来，在上海形成了稳定健全的销售网络。同时广大发展全国业务，在河南，广东设有办事处，辐射面积越来越广，服务质量却从未降低。<br/>　　我司全体员工将不懈的努力,执着地追求卓越的质量和完美的品牌及企业形象,秉承"坦诚、勤奋、求精、向上"的企业精神,奉行&quot;质量是生命、服务是灵魂&quot;的企业经营理念,以一流的产品和优质的服务,满足市场的需求。我们&quot;网聚人&quot;永远迎接市场的挑战!
                    &nbsp;<br/>　　真诚欢迎海内外客户来洽谈贸易,合作经营,共创辉煌。<span class="hps" title="点击可显示其他翻译"></span></p>
            </div>
        </div>
        <include file="Common:aside"/>
    </div>
    <include file="Common:footer"/>
</div>
</body>
</html>