<div class="page-left">
    <div class="left-products">
        <h2><span>产品展示</span></h2>
        <div id="LeftMenu" class="ddsmoothmenu-v">
            <ul>
                <volist name="productcat" id="vo">
                    <li><a <if condition="$vo['cate_id'] eq $_GET['cid']">id="menu_selected"</if>href="{:u('/products/index',array('cid'=>$vo['cate_id']))}" title="{$vo.cate_name}"><span>{$vo.cate_name}</span></a></li>
                </volist>
            </ul>
        </div>
        <script type="text/javascript">
            ddsmoothmenu.init({
                mainmenuid: "LeftMenu", //Menu DIV id
                orientation: 'v', //Horizontal or vertical menu: Set to "h" or "v"
                classname: 'ddsmoothmenu-v', //class added to menu's outer DIV
                //customtheme: ["#804000", "#482400"],
                contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
            })
        </script>
    </div>
    <div class="left-search">
        <h2><span>站内搜索</span></h2>
        <form action="{:u('/products')}" method="get" id="sitesearch" name="sitesearch">
            <p>
                <select id="searchid">
                    <option value="1" selected="selected">产品展示</option>
                    <option value="2">新闻资讯</option>
                </select>
            </p>
            <p>
                <input name="keyword" type="text" id="searchtext"/>
            </p>
            <p>
                <input type="submit" id="searchbutton" value=""/>
            </p>
        </form>
    </div>
    <div class="left-contact">
        <h2><span>联系我们</span></h2>
        <p>
            <if condition="$contact['address']"><span>地址: </span>{$contact.address}<br/></if>
            <if condition="$contact['address']"><span>邮编: </span>{$contact.email}<br/></if>
            <if condition="$contact['linkman']"><span>联系人: </span>{$contact.linkman}<br/></if>
            <if condition="$contact['mobile']"><span>手机: </span>{$contact.mobile}<br/></if>
            <if condition="$contact['phone']"><span>电话: </span>{$contact.phone}<br/></if>
            <if condition="$contact['fax']"><span>传真: </span>{$contact.fax}<br/></if>
            <if condition="$contact['email']"><span>邮箱: </span>{$contact.email}<br/></if>
            <if condition="$contact['tbshop']"><span>淘宝店铺: </span>{$contact.tbshop}</if>
            </p>
    </div>
    <div class="kf">
    <div class="kf-phone">{$contact['phone']}</div>
    <img src="/statics/home/default/images/tel.gif" width="240" height="59" alt="联系我们"/>
    </div>
</div>
<script>
    $(function () {
        $("#searchid").change(function () {
            if($(this).val() == '2'){
                $("#sitesearch").attr('action','/news');
            }else{
                $("#sitesearch").attr('action','/products')
            }
        })
    })
</script>