<div class="top">
    <img src="/statics/home/Default/images/logo.gif" height="90" alt="上海网聚化工有限公司"/>
    <div id="lang"><a
            href="javascript:if(confirm('只有企业版才有多语言功能，请点击确定访问netgather.com咨询。')){location.href='http://www.netgather.com'}"><img
            src="/statics/home/Default/images/gb.gif" width="16" height="11" alt="English"/>English</a></div>
</div>
<div id="MainMenu" class="ddsmoothmenu">
    <ul>
        <li ><a <eq name="CONTROLLER_NAME" value="Index">id="menu_selected"</eq> href="/" title="公司主页"><span>公司主页</span></a></li>
        <li><a <eq name="CONTROLLER_NAME" value="Abouts">id="menu_selected"</eq> href="/abouts" title="公司简介"><span>公司简介</span></a></li>
        <li><a <eq name="CONTROLLER_NAME" value="Products">id="menu_selected"</eq> href="/products" title="产品展示"><span>产品展示</span></a>
            <ul class="menulevel">
                <volist name="productcat" id="vo">
                    <li><a href="{:u('/products/index',array('cid'=>$vo['cate_id']))}" title="{$vo.cate_name}">{$vo.cate_name}</a></li>
                </volist>
            </ul>
        </li>
        <li><a <eq name="CONTROLLER_NAME" value="Jscs">id="menu_selected"</eq> href="/jscs" title="技术参数"><span>技术参数</span></a></li>
        <li><a <eq name="CONTROLLER_NAME" value="Scsb">id="menu_selected"</eq> href="/scsb" title="生产设备"><span>生产设备</span></a></li>
        <li><a <eq name="CONTROLLER_NAME" value="Xswl">id="menu_selected"</eq> href="/xswl" title="销售网络"><span>销售网络</span></a></li>
        <li><a <eq name="CONTROLLER_NAME" value="News">id="menu_selected"</eq> href="/news" title="新闻资讯"><span>新闻资讯</span></a></li>
        <li><a <eq name="CONTROLLER_NAME" value="Message">id="menu_selected"</eq> href="/message" title="客户留言"><span>客户留言</span></a></li>
    </ul>
</div>
<script type="text/javascript">
    $(function () {
        $("#banner").KinSlideshow({
            moveStyle: "right",
            titleBar: {titleBar_height: 32, titleBar_bgColor: "#000", titleBar_alpha: 0.7},
            titleFont: {TitleFont_size: 12, TitleFont_color: "#FFFFFF", TitleFont_weight: "normal"},
            btn: {
                btn_bgColor: "#2d2d2d",
                btn_bgHoverColor: "#1072aa",
                btn_fontColor: "#FFF",
                btn_fontHoverColor: "#FFF",
                btn_borderColor: "#4a4a4a",
                btn_borderHoverColor: "#1188c0",
                btn_borderWidth: 1
            }
        });
    })
</script>
<div id="banner">
    <volist name="banner" id="vo">
        <a target="_blank" href="{$vo.ad_link}"><img src="{$vo.ad_file}" alt="{$vo.ad_desc}" width="950"
                         height="200"/></a>
    </volist>

</div>