<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{$webconfig['title']}</title>
<meta name="robots" content="all" />
<meta name="keywords" content="<if condition="$webconfig['keywords']">{$webconfig['keywords']}<else/>蒋春燕绩效工场,蒋春燕,绩效工场, 绩效管理考核, 企业管理绩效培训咨询， 时和咨询</if>"/>
<meta name="description" content="<if condition="$webconfig['ndesc']">{$webconfig['ndesc']}<else/>蒋春燕绩效工场，由蒋春燕老师创办，已开设200多期大课与内训，已服务2000多家企业，20000名客户共同见证、200多家行业龙头，以实效、落地实践为名</if>"/>
<meta name="Identifier-URL" content="http://www.netgather.com" />
<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
<link rel="Bookmark" href="/favicon.ico" type="image/x-icon" />
<link href="/statics/home/Default/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/statics/home/Default/css/webmain.css" rel="stylesheet" type="text/css" />
<link href="/statics/home/Default/css/ddsmoothmenu.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/statics/home/Default/scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/statics/home/Default/scripts/jquery.KinSlideshow-1.2.1.js"></script>
<script type="text/javascript" src="/statics/home/Default/scripts/webtry_roll.js"></script>
<script type="text/javascript" src="/statics/home/Default/scripts/ddsmoothmenu.js"></script>
<script type="text/javascript">
    ddsmoothmenu.init({
        mainmenuid: "MainMenu", //menu DIV id
        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu', //class added to menu's outer DIV
        //customtheme: ["#1c5a80", "#18374a"],
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
    })
</script>